{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="main">
    <div class="main-container">


            <div class="container flex-column text-center text-light">


                  <h1>About Us</h1>
                  <p>Welcome to our Music Website!</p>
                  <p>
                    Our website is dedicated to all things music. We are passionate about music in all its forms, from classical to rock, from pop to hip-hop. Our goal is to create a vibrant and engaging community for music lovers of all ages and backgrounds.
                  </p>
                  <h2>What We Offer</h2>
                  <p>Music for all</p>
                  <h2>Our Team</h2>
                  <p>
                    Our team is made up of experienced music journalists, critics, and musicians who are passionate about sharing their love of music with the world. We are committed to providing high-quality, informative, and entertaining content that will enrich your musical experience.
                  </p>
                  <p>
                    Thank you for visiting our website. We hope you find it informative, enjoyable, and inspiring. Let's celebrate the power and beauty of music together!
                  </p>


            </div>
            <div>
              
            </div>

    </div>
</div>
{% endblock content %}